.header-container {
    position: relative;
    text-align: center;
  }
  
  .header-image {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .form-container {
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .right-image img {
    width: 100%;
    height: auto;
  }